@font-face {
	font-family: Myriad-Pro;
	src: url(../font/MyriadPro-Regular.otf)
}

@font-face {
	font-family: Myriad-Pro-Bold;
	src: url(../font/MyriadPro-Bold.otf)
}

@font-face {
	font-family: Myriad-Pro-Semibold;
	src: url(../font/MyriadPro-Semibold.otf)
}

.box-sizing {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.middle {
	vertical-align: middle
}

.icon {
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
	vertical-align: text-top
}

.cursor {
	cursor: pointer
}

.clear {
	clear: both
}

.nav {
	background-color: #343f5f
}

div.search {
	background-color: #fff;
	margin-bottom: 0;
	vertical-align: middle;
	border-radius: 20px;
	border: 1px solid #ccc;
	padding: 6px 12px
}

div.search input {
	display: inline-block;
	vertical-align: text-top;
	border: 0
}

div.search input:focus {
	outline: 0
}

div.search .btn-search {
	background-position: -54px -93px;
	width: 13px;
	height: 20px
}

.btn-blue {
	width: auto;
	height: 30px;
	padding: 5px 10px;
	background-color: #0072bc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px
}

.left {
	float: left
}

.right {
	float: right
}

html {
	height: 100%;
	position: relative
}

html body {
	background-color: #fff;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100% overflow: hidden;
}

html body .btn-logout {
	cursor: pointer
}

html body .container {
	position: fixed;
	height: 90%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

html body .container .leftbar {
	background-color: #1d1e20;
	width: 100px;
	height: 100%;
	left: 0;
	float: left
}

html body .container .content {
	width: 100%;
	height: 100%;
	padding-left: 100px
}

body {
	font-family: 'Myriad-Pro', Fallback, sans-serif;
}

.header {
	top: 0;
	left: 0;
	background-color: #ed313b;
	color: #fff;
	height: 55px;
	z-index: 100;
	position: relative
}

.header .left {
	margin: 12px 18px 10px 14px;
	color: #fff
}

.header .left .title {
	background-position: -10px -54px;
	width: 315px;
	height: 35px
}

.header .right {
	height: 35px;
	margin: 10px 20px 10px 0;
	width: 550px
}

.header .right .navbar-right {
	padding: 9px 0 0;
	float: left
}

.header .right .navbar-right .username {
	background-position: -10px -94px;
	height: 17px;
	width: 20px
}

.header .right .navbar-right .logout {
	background-position: -29px -94px;
	height: 17px;
	width: 20px;
	margin-left: 15px
}

.header .right .navbar-right .text {
	margin-left: 6px;
	font-family: Myriad-Pro;
	font-size: 16px
}

.header .right .navbar-right .divider {
	width: 1px;
	height: 55px;
	background-color: #000;
	box-shadow: 0 0 5px #000;
	display: block;
	margin-top: -39px;
	float: right;
	opacity: .2;
	margin-left: 15px
}

.header .right .navbar-right .search {
	display: inline-block;
	margin-left: 20px
}

.header .right .navbar-right .search input {
	width: 200px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #9b9b9b
}

.menu {
	list-style-type: none;
	color: #75787e;
	padding: 10px 0 10px 5px
}

.menu .sidebar-chat {
	margin-top: 10px;
	padding: 10px 0 0 15px
}

.menu .sidebar-chat .image {
	background-position: -7px -10px;
	width: 45px;
	height: 39px
}

.menu .sidebar-chat .text {
	display: inline-block;
	margin: 5px 0 0 8px;
	font-family: Myriad-Pro;
	font-size: 14px
}

.menu .sidebar-chat.active .image {
	background-position: -49px -10px;
	width: 45px;
	height: 39px
}

.menu .sidebar-message {
	margin-top: 15px;
	padding: 10px 0 0 15px
}

.menu .sidebar-message .image {
	background-position: -98px -6px;
	width: 45px;
	height: 39px
}

.menu .sidebar-message .text {
	display: inline-block;
	margin: 5px 0 0 6px;
	font-family: Myriad-Pro;
	font-size: 14px
}

.menu .sidebar-message.active .image {
	background-position: -139px -6px;
	width: 45px;
	height: 39px
}

.menu .sidebar-article {
	margin-top: 5px;
	padding: 5px 10px 0 0;
}

.menu .sidebar-article .image {
	background-position: -190px -8px;
	width: 45px;
	height: 39px
}

.menu .sidebar-article .text {
	display: inline-block;
	margin: 5px 0 0 0;
	font-family: Myriad-Pro;
	font-size: 14px;
}

.menu .sidebar-article.active .image {
	background-position: -227px -8px;
	width: 45px;
	height: 39px
}

.menu .sidebar-myth {
	margin-top: 5px;
	padding: 5px 10px 0 0;
}

.menu .sidebar-myth .image {
	background-position: -271px -8px;
	width: 45px;
	height: 39px
}

.menu a .text {
	color: #75787E;
}

.menu a:hover .text {
	color: #cacdc3;
}

.menu a:active .text {
	color: #ED313B;
}

.menu .sidebar-myth .text {
	display: inline-block;
	margin: 5px 0 0 0;
	font-family: Myriad-Pro;
	font-size: 14px
}

.menu .sidebar-myth.active .image {
	background-position: -306px -8px;
	width: 45px;
	height: 39px
}

.menu .active {
	background-color: #343f5f;
	border: 1px solid #343f5f;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #fff
}

.menu .notif {
	position: absolute;
	float: right;
	background-color: #ed313b;
	border-radius: 20px;
	border: 2px solid #000;
	padding: 4px;
	margin: -8px 0 0 26px;
	font-family: Myriad-Pro-Bold;
	font-size: 11px;
	color: #fff
}

.chat-list {
	padding: 10px 0 0;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	width: 310px;
	background-color: #fff;
	float: left;
	height: 100%
}

.chat-list .search {
	margin: 0 10px 10px
}

.chat-list .search input {
	height: 25px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #9b9b9b
}

.chat-list .new {
	background-color: #f6f7fb
}

.chat-list .active {
	background-color: #4790d2
}

.chat-list .list-container {
	height: 100%;
	margin-top: -110px;
	padding-top: 110px;
	padding-bottom: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.chat-list .list-container .lists {
	height: 100%;
	overflow-y: auto
}

.chat-list .list-container .lists .list-item {
	height: 50px;
	padding: 10px 0;
	width: 100%;
	border-top: 1px solid #d7d7d7;
	bottom: 0;
	position: relative
}

.chat-list .list-container .lists .list-item.active {
	background-color: #4790d2
}

.chat-list .list-container .lists .list-item.active .list-preview {
	color: #fff
}

.chat-list .list-container .lists .list-item.active .list-preview .datetime
	{
	color: #fff
}

.chat-list .list-container .lists .list-item.new {
	background-color: #f6f7fb
}

.chat-list .list-container .lists .list-item .icon-new {
	width: 12px;
	height: 12px;
	border-radius: 10px;
	background-color: #0f0;
	border: 1px solid #fff;
	left: 10px;
	position: absolute
}

.chat-list .list-container .lists .list-item .profile-picture {
	margin-left: 12px;
	margin-right: 15px;
	background-color: #e1e1e1;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	float: left
}

.chat-list .list-container .lists .list-item .list-preview {
	float: left
}

.chat-list .list-container .lists .list-item .list-preview .name {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px
}

.chat-list .list-container .lists .list-item .list-preview .datetime {
	display: block;
	font-family: Myriad-Pro;
	font-size: 11px;
	color: #7c7c7c
}

.chat-list .list-container .lists .list-item .list-preview .chat-preview
	{
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #444
}

.chat-detail {
	height: 100%;
	width: 100%;
	padding-left: 310px;
	padding-right: 89px;
	box-sizing: border-box
}

.chat-detail .nav-chat {
	height: 45px;
	color: #fff
}

.chat-detail .nav-chat .left {
	padding: 12px 0 0 12px
}

.chat-detail .nav-chat .left .username {
	font-family: Myriad-Pro-Semibold;
	font-size: 16px
}

.chat-detail .nav-chat .right {
	margin-right: 15px
}

.chat-detail .nav-chat .right .btn-detail {
	height: 27px;
	background-color: #0072bc;
	float: left;
	margin-top: 6px;
	border-radius: 4px;
	padding: 3px 8px 0 5px
}

.chat-detail .nav-chat .right .btn-detail .icon {
	margin-top: 3px;
	background-position: -83px -91px;
	width: 27px;
	height: 20px
}

.chat-detail .nav-chat .right .btn-detail .text {
	vertical-align: middle;
	font-family: Myriad-Pro;
	font-size: 14px
}

.chat-detail .nav-chat .right .btn-action {
	height: 27px;
	background-color: #0072bc;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	border-radius: 4px;
	padding: 3px 8px 0 5px
}

.chat-detail .nav-chat .right .btn-action .icon {
	margin-top: 3px;
	background-position: -118px -91px;
	width: 25px;
	height: 20px
}

.chat-detail .nav-chat .right .btn-action .text {
	vertical-align: middle;
	font-family: Myriad-Pro;
	font-size: 14px
}

.chat-detail .chat-container {
	width: 100%
}

.chat-detail .chat-container .chat-container-detail {
	height: 100%;
	padding-bottom: 215px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute
}

.chat-detail .chat-container .chat-container-detail .details {
	height: 100%;
	overflow-y: auto
}

.chat-detail .chat-container .chat-container-detail .details .details-item
	{
	height: auto;
	padding: 10px 0;
	width: 100%;
	border-bottom: 1px solid #d7d7d7;
	bottom: 0;
	position: relative
}

.chat-detail .chat-container .chat-container-detail .details .details-item .picture .profile-picture
	{
	margin-left: 12px;
	margin-right: 15px;
	background-color: #e1e1e1;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	float: left
}

.chat-detail .chat-container .chat-container-detail .details .details-item .chat
	{
	margin-right: 10px
}

.chat-detail .chat-container .chat-container-detail .details .details-item .chat .profile-detail
	{
	margin-bottom: 10px
}

.chat-detail .chat-container .chat-container-detail .details .details-item .chat .profile-detail .name
	{
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #2a2a2a
}

.chat-detail .chat-container .chat-container-detail .details .details-item .chat .profile-detail .datetime
	{
	color: #7c7c7c;
	font-family: Myriad-Pro;
	font-size: 12px
}

.chat-detail .chat-container .chat-container-detail .details .details-item .chat .detail
	{
	clear: right;
	display: block;
	padding-top: 15px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #444
}

.chat-detail .chat-container .reply-container {
	background-color: transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	bottom: 55px;
	width: 100%;
	padding-right: 399px;
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	background-color: #f2f2f2
}

.chat-detail .chat-container .reply-container .reply {
	padding: 10px;
	border: 1px solid #c3c3c3;
	height: 115px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.chat-detail .chat-container .reply-container .reply .reply-box {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	margin-right: 10px;
	right: 0;
	resize: none;
	border: 1px solid #c3c3c3
}

.chat-detail .chat-container .reply-container .reply textarea {
	color: #333;
	font-family: Myriad-Pro;
	font-size: 14px
}

.chat-detail .chat-container .reply-container .reply .reply-nav {
	border: 1px solid #c3c3c3;
	margin-top: -6px;
	height: 35px;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.chat-detail .chat-container .reply-container .reply .reply-nav .left {
	width: 105px;
	padding: 6px 0 0 10px
}

.chat-detail .chat-container .reply-container .reply .reply-nav .left .icon
	{
	background-position: -153px -91px;
	width: 27px;
	height: 20px
}

.chat-detail .chat-container .reply-container .reply .reply-nav .left .text
	{
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #a6a6a6
}

.chat-detail .chat-container .reply-container .reply .reply-nav .left .divider
	{
	width: 1px;
	height: 34px;
	background-color: #c3c3c3;
	float: right;
	margin-top: -6px
}

.chat-detail .chat-container .reply-container .reply .reply-nav .right {
	margin-right: 10px;
	padding: 5px 10px
}

.chat-detail .chat-container .reply-container .reply .reply-nav .right .text
	{
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #9b9b9b
}

.chat-detail .chat-container .reply-container .reply .reply-nav .right .checkbox input
	{
	vertical-align: middle
}

.chat-detail .chat-container .reply-container .reply .reply-nav .right .button
	{
	width: 87px;
	height: 25px;
	padding: 0 0 5px;
	background-color: #0072bc
}

.chat-detail .chat-container .reply-container .reply .reply-nav .right .button .icon
	{
	background-position: -177px -91px;
	width: 27px;
	height: 20px;
	vertical-align: middle
}

.chat-detail .chat-container .reply-container .reply .reply-nav .right .button .text
	{
	margin-right: 10px;
	font-family: Myriad-Pro-Bold;
	font-size: 14px;
	color: #fff;
	vertical-align: middle
}

.message-list {
	padding: 10px 0 0;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	width: 310px;
	background-color: #fff;
	float: left;
	height: 100%
}

.message-list .search {
	margin: 0 10px 10px
}

.message-list .search input {
	height: 25px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #9b9b9b
}

.message-list .new {
	background-color: #f6f7fb
}

.message-list .active {
	background-color: #4790d2
}

.message-list .list-container {
	height: 100%;
	margin-top: -110px;
	padding-top: 110px;
	padding-bottom: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.message-list .list-container .lists {
	height: 100%;
	overflow-y: auto
}

.message-list .list-container .lists .list-item {
	height: 50px;
	padding: 10px 0;
	width: 100%;
	border-top: 1px solid #d7d7d7;
	bottom: 0;
	position: relative
}

.message-list .list-container .lists .list-item.active {
	background-color: #4790d2
}

.message-list .list-container .lists .list-item.active .list-preview {
	color: #fff
}

.message-list .list-container .lists .list-item.active .list-preview .datetime
	{
	color: #fff
}

.message-list .list-container .lists .list-item.new {
	background-color: #f6f7fb
}

.message-list .list-container .lists .list-item .icon-new {
	width: 12px;
	height: 12px;
	border-radius: 10px;
	background-color: #0f0;
	border: 1px solid #fff;
	left: 10px;
	position: absolute
}

.message-list .list-container .lists .list-item .profile-picture {
	margin-left: 12px;
	margin-right: 15px;
	background-color: #e1e1e1;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	float: left
}

.message-list .list-container .lists .list-item .list-preview {
	float: left
}

.message-list .list-container .lists .list-item .list-preview .name {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px
}

.message-list .list-container .lists .list-item .list-preview .datetime
	{
	display: block;
	font-family: Myriad-Pro;
	font-size: 11px;
	color: #7c7c7c
}

.message-list .list-container .lists .list-item .list-preview .message-preview
	{
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #444
}

.message-detail {
	height: 100%;
	width: 100%;
	padding-left: 310px;
	padding-right: 89px;
	box-sizing: border-box
}

.message-detail .nav-message {
	height: 45px;
	color: #fff
}

.message-detail .nav-message .left {
	padding: 12px 0 0 12px
}

.message-detail .nav-message .left .username {
	font-family: Myriad-Pro-Semibold;
	font-size: 16px
}

.message-detail .nav-message .right {
	margin-right: 15px
}

.message-detail .nav-message .right .btn-detail {
	height: 27px;
	background-color: #0072bc;
	float: left;
	margin-top: 6px;
	border-radius: 4px;
	padding: 3px 8px 0 5px
}

.message-detail .nav-message .right .btn-detail .icon {
	margin-top: 3px;
	background-position: -83px -91px;
	width: 27px;
	height: 20px
}

.message-detail .nav-message .right .btn-detail .text {
	vertical-align: middle;
	font-family: Myriad-Pro;
	font-size: 14px
}

.message-detail .nav-message .right .btn-action {
	height: 27px;
	background-color: #0072bc;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	border-radius: 4px;
	padding: 3px 8px 0 5px
}

.message-detail .nav-message .right .btn-action .icon {
	margin-top: 3px;
	background-position: -118px -91px;
	width: 25px;
	height: 20px
}

.message-detail .nav-message .right .btn-action .text {
	vertical-align: middle;
	font-family: Myriad-Pro;
	font-size: 14px
}

.message-detail .message-container {
	width: 100%
}

.message-detail .message-container .message-container-detail {
	height: 100%;
	padding-bottom: 215px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute
}

.message-detail .message-container .message-container-detail .details {
	height: 100%;
	overflow-y: auto
}

.message-detail .message-container .message-container-detail .details .details-item
	{
	height: auto;
	padding: 10px 0;
	width: 100%;
	border-bottom: 1px solid #d7d7d7;
	bottom: 0;
	position: relative
}

.message-detail .message-container .message-container-detail .details .details-item .picture .profile-picture
	{
	margin-left: 12px;
	margin-right: 15px;
	background-color: #e1e1e1;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	float: left
}

.message-detail .message-container .message-container-detail .details .details-item .message
	{
	margin-right: 10px
}

.message-detail .message-container .message-container-detail .details .details-item .message .profile-detail
	{
	margin-bottom: 10px
}

.message-detail .message-container .message-container-detail .details .details-item .message .profile-detail .name
	{
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #2a2a2a
}

.message-detail .message-container .message-container-detail .details .details-item .message .profile-detail .datetime
	{
	color: #7c7c7c;
	font-family: Myriad-Pro;
	font-size: 12px
}

.message-detail .message-container .message-container-detail .details .details-item .message .detail
	{
	clear: right;
	display: block;
	padding-top: 15px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #444
}

.message-detail .message-container .reply-container {
	background-color: transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	bottom: 55px;
	width: 100%;
	padding-right: 399px;
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	background-color: #f2f2f2
}

.message-detail .message-container .reply-container .reply {
	padding: 10px;
	border: 1px solid #c3c3c3;
	height: 115px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.message-detail .message-container .reply-container .reply .reply-box {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	margin-right: 10px;
	right: 0;
	resize: none;
	border: 1px solid #c3c3c3
}

.message-detail .message-container .reply-container .reply textarea {
	color: #9b9b9b;
	font-family: Myriad-Pro;
	font-size: 14px
}

.message-detail .message-container .reply-container .reply .reply-nav {
	border: 1px solid #c3c3c3;
	margin-top: -6px;
	height: 35px;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.message-detail .message-container .reply-container .reply .reply-nav .left
	{
	width: 105px;
	padding: 6px 0 0 10px
}

.message-detail .message-container .reply-container .reply .reply-nav .left .icon
	{
	background-position: -153px -91px;
	width: 27px;
	height: 20px
}

.message-detail .message-container .reply-container .reply .reply-nav .left .text
	{
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #a6a6a6
}

.message-detail .message-container .reply-container .reply .reply-nav .left .divider
	{
	width: 1px;
	height: 34px;
	background-color: #c3c3c3;
	float: right;
	margin-top: -6px
}

.message-detail .message-container .reply-container .reply .reply-nav .right
	{
	margin-right: 10px;
	padding: 5px 10px
}

.message-detail .message-container .reply-container .reply .reply-nav .right .text
	{
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #9b9b9b
}

.message-detail .message-container .reply-container .reply .reply-nav .right .checkbox input
	{
	vertical-align: middle
}

.message-detail .message-container .reply-container .reply .reply-nav .right .button
	{
	width: 87px;
	height: 25px;
	padding: 0 0 5px;
	background-color: #0072bc
}

.message-detail .message-container .reply-container .reply .reply-nav .right .button .icon
	{
	background-position: -177px -91px;
	width: 27px;
	height: 20px;
	vertical-align: middle
}

.message-detail .message-container .reply-container .reply .reply-nav .right .button .text
	{
	margin-right: 10px;
	font-family: Myriad-Pro-Bold;
	font-size: 14px;
	color: #fff;
	vertical-align: middle
}

.article-list {
	width: 100%;
	height: 100%
}

.article-list .nav-article {
	height: 45px
}

.article-list .nav-article .left {
	margin: 13px 0 0 10px
}

.article-list .nav-article .left .text {
	font-family: Myriad-Pro-Semibold;
	font-size: 16px;
	color: #fff
}

.article-list .nav-article .right {
	margin-right: 89px;
	padding: 7px 10px 0 0
}

.article-list .nav-article .right .btn-blue {
	width: auto;
	height: 30px;
	padding: 5px 10px;
	background-color: #0072bc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	color: #fff
}

.article-list .nav-article .right .btn-blue .icon {
	background-position: -204px -91px;
	width: 27px;
	height: 20px
}

.article-list .nav-article .right .btn-blue .text {
	font-family: Myriad-Pro;
	font-size: 14px
}

.article-list .lists {
	margin-right: 89px;
	height: 100%;
	margin-top: -110px;
	padding-top: 110px;
	padding-bottom: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.article-list .lists .list-item {
	height: 100%;
	overflow-y: auto
}

.article-list .lists .list-item table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0
}

.article-list .lists .list-item table tr td {
	border: 1px solid #cdcecf;
	padding: 10px
}

.article-list .lists .list-item table tr td.number {
	width: 10%;
	text-align: center;
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #2a2a2a
}

.article-list .lists .list-item table tr td.review {
	width: 50%
}

.article-list .lists .list-item table tr td.review .title {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #2a2a2a
}

.article-list .lists .list-item table tr td.review .description {
	display: block;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #444
}

.article-list .lists .list-item table tr td.launch {
	width: 20%
}

.article-list .lists .list-item table tr td.launch .publish {
	color: #39b54a;
	font-family: Myriad-Pro-Bold;
	font-size: 14px
}

.article-list .lists .list-item table tr td.launch .schedule {
	color: #f7941d;
	font-family: Myriad-Pro-Bold;
	font-size: 14px
}

.article-list .lists .list-item table tr td.launch .text {
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #969595
}

.article-list .lists .list-item table tr td.action {
	width: 20%
}

.article-list .lists .list-item table tr td.action .list {
	display: table;
	margin: auto
}

.article-list .lists .list-item table tr td.action .list .btn-blue {
	float: left;
	color: #fff;
	margin: auto
}

.article-list .lists .list-item table tr td.action .list .btn-blue.edit .icon
	{
	background-position: -235px -90px;
	width: 20px;
	height: 20px
}

.article-list .lists .list-item table tr td.action .list .btn-blue.edit .text
	{
	font-family: Myriad-Pro;
	font-size: 14px
}

.article-list .lists .list-item table tr td.action .list .btn-blue.delete
	{
	margin-left: 5px
}

.article-list .lists .list-item table tr td.action .list .btn-blue.delete .icon
	{
	background-position: -235px -90px;
	width: 20px;
	height: 20px
}

.article-list .lists .list-item table tr td.action .list .btn-blue.delete .text
	{
	font-family: Myriad-Pro;
	font-size: 14px
}

.article-add {
	width: 100%;
	height: 100%;
	background-color: #f6f7fb
}

.article-add .nav-article {
	height: 45px
}

.article-add .nav-article .left {
	margin: 13px 0 0 10px
}

.article-add .nav-article .left .icon {
	background-position: -276px -92px;
	width: 27px;
	height: 20px
}

.article-add .nav-article .left .text {
	font-family: Myriad-Pro-Semibold;
	font-size: 16px;
	color: #fff
}

.article-add .nav-article .right {
	margin-right: 89px;
	padding: 7px 10px 0 0
}

.article-add .nav-article .right .btn-blue {
	width: auto;
	height: 30px;
	padding: 5px 10px;
	background-color: #0072bc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	color: #fff
}

.article-add .nav-article .right .btn-blue .icon {
	background-position: -204px -91px;
	width: 27px;
	height: 20px
}

.article-add .nav-article .right .btn-blue .text {
	font-family: Myriad-Pro;
	font-size: 14px
}

.article-add .container {
	padding-right: 110px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.article-add .container .title {
	color: #fff;
	padding: 5px 10px;
	height: 30px;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: Myriad-Pro;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.article-add .container .form-title {
	width: 100%;
	padding: 10px
}

.article-add .container .form-title .title span {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #fff
}

.article-add .container .form-title .input {
	height: 40px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #cdcecf;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.article-add .container .form-title .input input {
	width: 100%;
	height: 100%;
	border: 0;
	padding-left: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #b1b1b1
}

.article-add .container .form-image {
	width: 100%;
	padding: 10px
}

.article-add .container .form-image .title span {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #fff
}

.article-add .container .form-image .input {
	height: 40px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #cdcecf;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.article-add .container .form-image .input .browse-image {
	float: left;
	width: 150px;
	margin: 4px 0 0 5px
}

.article-add .container .form-image .input .browse-image .icon {
	background-position: -301px -91px;
	width: 27px;
	height: 20px
}

.article-add .container .form-image .input .browse-image .icon input {
	width: 140px;
	line-height: 0;
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
	vertical-align: text-top;
	opacity: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.article-add .container .form-image .input .browse-image .text {
	color: #fff;
	font-family: Myriad-Pro;
	font-size: 14px
}

.article-add .container .form-image .input .image_name {
	display: inline-block;
	margin: 8px 0 0 10px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #363636
}

.article-add .container .form-textarea {
	width: 100%;
	padding: 10px
}

.article-add .container .form-textarea .title {
	color: #000;
	font-family: Myriad-Pro-Semibold;
	font-size: 14px
}

.article-add .container .form-textarea .jqte {
	margin: 0
}

.article-add .container .form-textarea .jqte .jqte_toolbar {
	background-color: #f1f1f1
}

.article-add .container .form-textarea .jqte .jqte_tool,.article-add .container .form-textarea .jqte .jqte_tool_icon,.article-add .container .form-textarea .jqte .jqte_tool_label
	{
	border-width: 0;
	padding: 1px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.article-add .container .form-textarea .jqte .jqte_tool {
	color: #fff
}

.article-add .container .form-button .calendar {
	height: 35px;
	background-color: #fff;
	float: left
}

.article-add .container .form-button .calendar input {
	border: 0;
	height: 100%;
	padding: 0 10px;
	width: 100px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #4c4c4c
}

.article-add .container .form-button .calendar .icon {
	background-position: -328px -91px;
	width: 27px;
	height: 20px;
	position: absolute;
	margin: -26px 0 0 92px
}

.article-add .container .form-button .schedule {
	float: left;
	height: 35px;
	padding-top: 5px;
	margin-left: 10px
}

.article-add .container .form-button .schedule span {
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #9b9b9b
}

.article-add .container .form-button .schedule .checks {
	vertical-align: middle
}

.article-add .container .form-button .btn-submit {
	float: left;
	margin-left: 23px
}

.article-add .container .form-button .btn-submit .icon {
	background-position: -181px -91px;
	width: 27px;
	height: 20px
}

.article-add .container .form-button .btn-submit .text {
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #fff
}

.myth-list {
	width: 100%;
	height: 100%
}

.myth-list .nav-myth {
	height: 45px
}

.myth-list .nav-myth .left {
	margin: 13px 0 0 10px
}

.myth-list .nav-myth .left .text {
	font-family: Myriad-Pro-Semibold;
	font-size: 16px;
	color: #fff
}

.myth-list .nav-myth .right {
	margin-right: 89px;
	padding: 7px 10px 0 0
}

.myth-list .nav-myth .right .btn-blue {
	width: auto;
	height: 30px;
	padding: 5px 10px;
	background-color: #0072bc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	color: #fff
}

.myth-list .nav-myth .right .btn-blue .icon {
	background-position: -204px -91px;
	width: 27px;
	height: 20px
}

.myth-list .nav-myth .right .btn-blue .text {
	font-family: Myriad-Pro;
	font-size: 14px
}

.myth-list .lists {
	margin-right: 89px;
	height: 100%;
	margin-top: -110px;
	padding-top: 110px;
	padding-bottom: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-list .lists .list-item {
	height: 100%;
	overflow-y: auto
}

.myth-list .lists .list-item table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0
}

.myth-list .lists .list-item table tr td {
	border: 1px solid #cdcecf;
	padding: 10px
}

.myth-list .lists .list-item table tr td.number {
	width: 10%;
	text-align: center;
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #2a2a2a
}

.myth-list .lists .list-item table tr td.review {
	width: 50%
}

.myth-list .lists .list-item table tr td.review .title {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #2a2a2a
}

.myth-list .lists .list-item table tr td.review .description {
	display: block;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #444
}

.myth-list .lists .list-item table tr td.launch {
	width: 20%
}

.myth-list .lists .list-item table tr td.launch .publish {
	color: #39b54a;
	font-family: Myriad-Pro-Bold;
	font-size: 14px
}

.myth-list .lists .list-item table tr td.launch .schedule {
	color: #f7941d;
	font-family: Myriad-Pro-Bold;
	font-size: 14px
}

.myth-list .lists .list-item table tr td.launch .text {
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #969595
}

.myth-list .lists .list-item table tr td.action {
	width: 20%
}

.myth-list .lists .list-item table tr td.action .list {
	display: table;
	margin: auto
}

.myth-list .lists .list-item table tr td.action .list .btn-blue {
	float: left;
	color: #fff;
	margin: auto
}

.myth-list .lists .list-item table tr td.action .list .btn-blue.edit .icon
	{
	background-position: -235px -90px;
	width: 20px;
	height: 20px
}

.myth-list .lists .list-item table tr td.action .list .btn-blue.edit .text
	{
	font-family: Myriad-Pro;
	font-size: 14px
}

.myth-list .lists .list-item table tr td.action .list .btn-blue.delete {
	margin-left: 5px
}

.myth-list .lists .list-item table tr td.action .list .btn-blue.delete .icon
	{
	background-position: -235px -90px;
	width: 20px;
	height: 20px
}

.myth-list .lists .list-item table tr td.action .list .btn-blue.delete .text
	{
	font-family: Myriad-Pro;
	font-size: 14px
}

.myth-add {
	width: 100%;
	height: 100%;
	background-color: #f6f7fb
}

.myth-add .nav-myth {
	height: 45px
}

.myth-add .nav-myth .left {
	margin: 13px 0 0 10px
}

.myth-add .nav-myth .left .icon {
	background-position: -276px -92px;
	width: 27px;
	height: 20px
}

.myth-add .nav-myth .left .text {
	font-family: Myriad-Pro-Semibold;
	font-size: 16px;
	color: #fff
}

.myth-add .nav-myth .right {
	margin-right: 89px;
	padding: 7px 10px 0 0
}

.myth-add .nav-myth .right .btn-blue {
	width: auto;
	height: 30px;
	padding: 5px 10px;
	background-color: #0072bc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	color: #fff
}

.myth-add .nav-myth .right .btn-blue .icon {
	background-position: -204px -91px;
	width: 27px;
	height: 20px
}

.myth-add .nav-myth .right .btn-blue .text {
	font-family: Myriad-Pro;
	font-size: 14px
}

.myth-add .container {
	padding-right: 110px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .title {
	color: #fff;
	padding: 5px 10px;
	height: 30px;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: Myriad-Pro;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-title {
	width: 100%;
	padding: 10px
}

.myth-add .container .form-title .title span {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #fff
}

.myth-add .container .form-title .input {
	height: 40px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #cdcecf;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-title .input input {
	width: 100%;
	height: 100%;
	border: 0;
	padding-left: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #b1b1b1
}

.myth-add .container .form-image {
	width: 100%;
	padding: 10px
}

.myth-add .container .form-image .title span {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #fff
}

.myth-add .container .form-image .input {
	height: 40px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #cdcecf;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-image .input .browse-image {
	float: left;
	width: 150px;
	margin: 4px 0 0 5px
}

.myth-add .container .form-image .input .browse-image .icon {
	background-position: -301px -91px;
	width: 27px;
	height: 20px
}

.myth-add .container .form-image .input .browse-image .icon input {
	width: 140px;
	line-height: 0;
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
	vertical-align: text-top;
	opacity: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-image .input .browse-image .text {
	color: #fff;
	font-family: Myriad-Pro;
	font-size: 14px
}

.myth-add .container .form-image .input .image_name {
	display: inline-block;
	margin: 8px 0 0 10px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #363636
}

.myth-add .container .form-answer {
	width: 100%;
	padding: 10px
}

.myth-add .container .form-answer .title span {
	font-family: Myriad-Pro-Semibold;
	font-size: 14px;
	color: #fff
}

.myth-add .container .form-answer .input {
	height: 55px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #cdcecf;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-answer .input .btn-myth-fact {
	background-color: #ededed;
	float: left;
	width: 150px;
	margin: 7px 0 0 5px;
	width: auto;
	height: 38px;
	padding: 8px 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #a1a1a1
}

.myth-add .container .form-answer .input .btn-myth-fact.selected {
	background-color: #fbb232;
	border: 0
}

.myth-add .container .form-answer .input .btn-myth-fact.selected .icon {
	background-position: -351px -89px;
	width: 27px;
	height: 20px
}

.myth-add .container .form-answer .input .btn-myth-fact.selected .icon input
	{
	width: 140px;
	line-height: 0;
	background-position: -374px -89px;
	width: 27px;
	height: 20px;
	opacity: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-answer .input .btn-myth-fact.selected .icon input input
	{
	width: 140px;
	line-height: 0;
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
	vertical-align: text-top;
	opacity: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-answer .input .btn-myth-fact.selected .text {
	color: #fff;
	font-family: Myriad-Pro;
	font-size: 14px
}

.myth-add .container .form-answer .input .btn-myth-fact .icon {
	background-position: -374px -89px;
	width: 27px;
	height: 20px
}

.myth-add .container .form-answer .input .btn-myth-fact .icon input {
	width: 140px;
	line-height: 0;
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
	vertical-align: text-top;
	opacity: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-answer .input .btn-myth-fact .text {
	color: #484848;
	font-family: Myriad-Pro-Semibold;
	font-size: 14px
}

.myth-add .container .form-answer .input .image_name {
	display: inline-block;
	margin: 8px 0 0 10px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #363636
}

.myth-add .container .form-textarea {
	width: 100%;
	padding: 10px
}

.myth-add .container .form-textarea .title {
	color: #000;
	font-family: Myriad-Pro-Semibold;
	font-size: 14px
}

.myth-add .container .form-textarea .jqte {
	margin: 0
}

.myth-add .container .form-textarea .jqte .jqte_toolbar {
	background-color: #f1f1f1
}

.myth-add .container .form-textarea .jqte .jqte_tool,.myth-add .container .form-textarea .jqte .jqte_tool_icon,.myth-add .container .form-textarea .jqte .jqte_tool_label
	{
	border-width: 0;
	padding: 1px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}

.myth-add .container .form-textarea .jqte .jqte_tool {
	color: #fff
}

.myth-add .container .form-button .calendar {
	height: 35px;
	background-color: #fff;
	float: left
}

.myth-add .container .form-button .calendar input {
	border: 0;
	height: 100%;
	padding: 0 10px;
	width: 100px;
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #4c4c4c
}

.myth-add .container .form-button .calendar .icon {
	background-position: -328px -91px;
	width: 27px;
	height: 20px;
	position: absolute;
	margin: -26px 0 0 92px
}

.myth-add .container .form-button .schedule {
	float: left;
	height: 35px;
	padding-top: 5px;
	margin-left: 10px
}

.myth-add .container .form-button .schedule span {
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #9b9b9b
}

.myth-add .container .form-button .schedule .checks {
	vertical-align: middle
}

.myth-add .container .form-button .btn-submit {
	float: left;
	margin-left: 23px
}

.myth-add .container .form-button .btn-submit .icon {
	background-position: -181px -91px;
	width: 27px;
	height: 20px
}

.myth-add .container .form-button .btn-submit .text {
	font-family: Myriad-Pro;
	font-size: 14px;
	color: #fff
}

.pagination {
	margin: 10px 10px;
}

.pagination a {
	text-decoration: none;
	padding: 2px 5px;
	margin: 1px;
	background-color: #343F5F;
	color: #fff;
}

.pagination a:hover {
	background-color: #8985F5;
	color: #fff;
}

.currentStep,.step.gap {
	text-decoration: none;
	padding: 2px 5px;
	margin: 1px;
	background-color: #fff;
	color: #000;
}

.menu.sidebar-message.text a {
	color: #fff !important;
}

/* NEWS ===========================================*/
/*=================================================*/
.modal-news {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #f0e8d5;
	overflow: auto;
}

.modal-news-content {
	margin: 0 10px;
	padding-top: 10px;
	width: 480px;
}

.modal-news-block {
	border: solid 1px #cacaca;
	border-radius: 4px;
	background: #fff;
	overflow: hidden;
	margin-bottom: 20px;
}

.modal-news-block-head {
	padding: 7px 20px;
	background: #f4f4f4;
	color: #4d4d4d;
	font-size: 13px;
	font-family: 'Futura Bold', Arial, sans-serif;
	border-bottom: solid 1px #cecece;
}

.modal-news-block-content {
	padding: 10px 20px;
	color: #404040;
	font-size: 16px;
	font-family: 'Futura', Arial, sans-serif;
	line-height: 20px;
}

.modal-news-block-content p {
	margin-bottom: 8px;
}