@font-face {
	font-family: Myriad-Pro;
	src: url("../fonts/MyriadPro-Regular.otf");
}

html,body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	margin-top: -20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#main {
	overflow: auto;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.container-fluid {
	padding: 0 15px;
}

.container-fluid  .row {
	margin: 0;
}

.navbar-custom {
	background-color: #ED313B;
	height: 55px;
}

.icon {
	display: inline-block;
	background: url(../images/icon.png) no-repeat;
	vertical-align: text-top
}

.title {
	background-position: -10px -54px;
	width: 315px;
	height: 35px
}

.navbar-nav a {
	color: #FFF;
	margin-top: 2px;
	font-size: 16px;
}

.navbar-nav a:hover {
	background-color: #ED313B;
}

.navbar-nav .navbar-form .input-group {
	margin-top: 2px;
}