.chat-list {
  padding: 10px 0 0 0;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  width: 310px;
  background-color: #fff;
  float:left;
  height: 100%;
  .search {
    margin: 0 10px 10px 10px;
    input {
      height: 25px;
      .font-family(Myriad-Pro, 14px);
    }
  }
  .new {
    background-color: #f6f7fb;
  }
  .active {
    background-color: #4790d2;
  }
  .list-container {
    height: 100%;
    margin-top: -110px;
    padding-top: 110px;
    padding-bottom: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    .lists {
      height: 100%;
      overflow-y: auto;
      .list-item {
        height: 50px;
        padding: 10px 0;
        width: 100%;
        border-top: 1px solid #d7d7d7;
        bottom: 0;
        position: relative;
        &.active {
          background-color: #4790d2;
        }
        &.new {
          background-color: #f6f7fb;
        }
        .icon-new {
          width: 12px;
          height: 12px;
          border-radius: 10px;
          background-color: #00ff00;
          border: 1px solid #fff;
          left: 10px;
          /*display: inline-block;*/
          position: absolute;
        }

        .profile-picture {
          margin-left: 12px;
          margin-right: 15px;
          background-color: #e1e1e1;
          width: 50px;
          height: 50px;
          border-radius: 30px;
          float: left;
        }
        .list-preview {
          float: left;
          .name {
            .font-family(Myriad-Pro, 14px);
            font-weight: 600;
          }
          .datetime {
            display: block;
            .font-family(Myriad-Pro, 11px);
          }
          .chat-preview {
            .font-family(Myriad-Pro, 14px);
          }
        }
      }
    } 
  }
  
}

.chat-detail {
  height: 100%;
  width: 100%;
  padding-left: 310px;
  padding-right: 89px;
  box-sizing: border-box;
  .nav-chat {
    height: 45px;
    background-color: #343f5f;
    color: #fff;
    .left {
      padding: 12px 0 0 12px;
      .username {
        .font-family(Myriad-Pro, 16px);
        font-weight: 600;
      }
    }

    .right {
      margin-right: 15px;
      .btn-detail {
        height: 27px;
        background-color: #0072bc;
        float:left;
        margin-top: 6px;
        border-radius: 4px;
        padding: 3px 8px 0 5px;
        .icon {
          margin-top: 3px;
          background-position: -83px -91px;
          width: 27px;
          height: 20px;
        }
        .text {
          vertical-align: middle;
          .font-family(Myriad-Pro, 14px);
        }
      }
      .btn-action {
        height: 27px;
        background-color: #0072bc;
        float:left;
        margin-top: 6px;
        margin-left: 10px;
        border-radius: 4px;
        padding: 3px 8px 0 5px;
        .icon {
          margin-top: 3px;
          background-position: -118px -91px;
          width: 25px;
          height: 20px;
        }
        .text {
          vertical-align: middle;
          .font-family(Myriad-Pro, 14px);
        }
      }
    }
  }

  .chat-container {
    width: 100%;
    .chat-container-detail {
      height: 100%;
      padding-bottom: 215px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: absolute;
      .details {
        height: 100%;
        overflow-y: auto;
        .details-item {
          height: auto;
          padding: 10px 0;
          width: 100%;
          border-bottom: 1px solid #d7d7d7;
          bottom: 0;
          position: relative;
          .picture {
            .profile-picture {
              margin-left: 12px;
              margin-right: 15px;
              background-color: #e1e1e1;
              width: 50px;
              height: 50px;
              border-radius: 30px;
              float: left;
            }
          }
          .chat {
            margin-right: 10px;
            .profile-detail {
              margin-bottom: 10px;
            }
            .detail {
              clear: right;
              display:block;
              padding-left: 80px;
              
            }
          }
        }
      }
    }
    .reply-container {
      background-color: transparent;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      position: absolute;
      bottom: 55px;
      width: 100%;
      padding-right: 399px;
      border-top: 1px solid #d7d7d7;
      border-left: 1px solid #d7d7d7;
      background-color: #f2f2f2;
      
      .reply {
        padding: 10px;
        border: 1px solid #c3c3c3;
        height: 115px;
        .box-sizing;
        
        .reply-box {
          box-sizing: border-box;
          width: 100%;
          height: 60px;
          margin-right: 10px;
          right: 0;
          resize: none;
          border: 1px solid #c3c3c3;
        }
        .reply-nav {
          
          border: 1px solid #c3c3c3;
          margin-top: -6px;
          height: 35px;
          background-color: #ffffff;
          .box-sizing;
          .left {
            width: 105px;
            padding: 6px 0 0 10px;
            .icon {
              background-position: -153px -91px;
              width: 27px;
              height: 20px;
            }
            .text {
              .font-family(Myriad-Pro, 14px);
              color: #a6a6a6;
            }
            .divider {
              .dividers(1px, 34px, #c3c3c3);
              float: right;
              margin-top: -6px;
            }
          }
          .right {
            margin-right: 10px;
            padding: 5px 10px;
            .text {
              .font-family(Myriad-Pro, 14px);
              color: #9b9b9b;
            }
            .checkbox input {
              vertical-align: middle;
            }
            .button {
              width: 87px;
              height: 25px;
              padding: 0 0 5px;
              background-color: #0072bc;
              .icon {
                background-position: -177px -91px;
                width: 27px;
                height: 20px;
                .middle;
              }
              .text {
                margin-right: 10px;
                .font-family(Myriad-Pro, 14px);
                font-weight: bold;
                color: #ffffff;
                .middle;
              }
            }
          }
        }
      }
      
    }
  }
}