.icon {
  display: inline-block;
  background: url('../img/icon.png') no-repeat;
  vertical-align: text-top;
}

.cursor {
  cursor: pointer;
}

div.search {
  background-color: #fff;
  margin-bottom: 0;
  vertical-align: middle;
  
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  
  input {
    display: inline-block;
    vertical-align: text-top;
    border: 0;
    &:focus {
      outline: 0;
    }
  }
  .btn-search {
    background-position: -54px -93px;
    width: 13px;
    height: 20px;
  }
}

.clear {
  clear: both;
}