.header {
  top: 0;
  left: 0;
  background-color: #ed313b;
  color: white;
  height: 55px;
  .left {
    margin: 12px 18px 10px 14px;  
    color: #fff;
    .title {
      background-position: -10px -54px;
      width: 315px;
      height: 35px;
    }
  }

  .right {
    height: 35px;
    margin: 10px 20px 10px 0; 
    width: 550px;
    .navbar-right {
      padding: 9px 0 0 0; 
      float: left;
      .username {
        background-position: -10px -94px;
        height: 17px;
        width: 20px;
      }
      .logout {
        background-position: -29px -94px;
        height: 17px;
        width: 20px;
        margin-left: 15px;
      }

      .text {
        margin-left: 6px;
        .font-family(Myriad-Pro, 16px);
      }
      .divider {
        .dividers(1px, 55px, #000);
        box-shadow: 0 0 5px #000000;
        display: block;
        margin-top: -39px;
        float: right;
        opacity: 0.2;
        margin-left: 15px;
      }
      .search {
        display: inline-block;
        margin-left: 20px;
        input {
          width: 200px;
        }
      }
    }
    
  }
}

.menu {
  list-style-type: none;
  color: #75787e;
  padding: 10px 0 10px 5px;
  .sidebar-chat {
    margin-top: 10px;
    padding: 10px 0 0 15px;
    .image {
      background-position: -7px -10px;
      width: 45px;
      height: 39px;
    }
    .text {
      display: inline-block;
      margin: 5px 0 0 8px;
      .font-family(Myriad-Pro, 14px);
    }
  }
  .sidebar-message {
    margin-top: 15px;
    padding: 10px 0 0 15px;
    .image {
      background-position: -53px -6px;
      width: 45px;
      height: 39px;
    }
    .text {
      display: inline-block;
      margin: 5px 0 0 6px;
      .font-family(Myriad-Pro, 14px);
    }
  }
  .sidebar-article {
    margin-top: 15px;
    padding: 10px 0 0 15px;
    .image {
      background-position: -95px -8px;
      width: 45px;
      height: 39px;
    }
    .text {
      display: inline-block;
      margin: 5px 0 0 3px;
      .font-family(Myriad-Pro, 14px);
    }
  }
  .sidebar-myth {
    margin-top: 15px;
    padding: 10px 0 0 0;
    .image {
      margin-left: 15px;
      background-position: -133px -8px;
      width: 45px;
      height: 39px;
    }
    .text {
      display: inline-block;
      margin: 5px 0 0 3px;
      .font-family(Myriad-Pro, 14px);
    }
  }
  .active {
    background-color: #343f5f;
    border: 1px solid #343f5f;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .notif {
    position: absolute;
    float:right;
    background-color: #ed313b;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 4px 4px;
    margin: -8px 0 0 26px;
    .font-family(Myriad-Pro, 11px);
    font-weight: bold;
    color: #fff;
  }
}