html {
  height: 100%;
  position: relative;
  body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    .container {
      position: fixed;
      height: 100%;
      width: 100%;
      .leftbar {
        background-color: #1d1e20;
        width: 89px;
        height: 100%;
        left: 0;
        float: left;
      }
      .content {
        width: 100%;
        height: 100%;
        padding-left: 89px;
      }
    }
  }    
}
