.dividers(@width, @height, @color) {
  width: @width;
  height: @height;
  background-color: @color;
}

.font-family(@family, @size) {
  font-family: @family;
  font-size: @size;
}

.box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.middle {
  vertical-align: middle;
}